@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --primary-color: #6750A4;
  --primary-container-color: #EADDFF;
  --primary-container-on-color: #21005D;
  --primary-click-color: #D0BCFF;
  
  --neutral-dark-black-color: #1D1B20;
  --neutral-dark-grey-color: #49454F;
  --neutral-dark-medium-grey-color: #79747E;
  --neutral-dark-light-grey-color: #CAC4D0;
  
  --neutral-light-white-color: #FFFFFF;
  --neutral-light-white-bg-color: #F5F5F5;
  --neutral-light-surface1-color: #F7F2FA;
  
  --primary-font-family: "Roboto", sans-serif;
}

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: var(--neutral-light-white-color);
}

/* Eslilos do Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--neutral-dark-black-color);
  width: 100%;
  padding: 1.5% 20%;
}

.header__buttons__container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__btn {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-family: var(--primary-font-family);
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
  text-transform: uppercase;

}

.header__btn__cadastro {
  background-color: var(--primary-color);
  color: var(--neutral-light-white-color);
  font-size: 0.875rem;
  border: none;
  outline: none;
}

.header__btn__cadastro:hover {
  background-color: var(--primary-click-color);
}

.header__btn__login {
  background-color: transparent;
  color: var(--primary-color);
  font-size: 1rem;
  border: 1px solid var(--neutral-dark-medium-grey-color);
}

.header__btn__login:hover {
  background-color: var(--primary-click-color);
}

/* Estilos da seção Hero */
.hero {
  position: relative; /* Position para criar contexto de posicionamento (ex.: overlay) */
  width: 100%;
  background-image: url('../assets/banner-homepage-fundo.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: var(--neutral-light-white-color);
  /* alterar para relativo */
  padding: 3% 20%; 
  overflow: hidden; /* Evita que elementos transborde o container da seção Hero */
}

/* Cria overlay escuro para melhorar a legibilidade */
/* .hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
} */

.hero__content {
  /* Flexbox para organizar o conteúdo interno */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
}

.hero__text {
  color: var(--neutral-light-white-color);
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 1.2;
}

.hero__text span {
  font-weight: 700;
}

.hero__image {
  width: 50%;
  height: auto;
  justify-content: flex-start;
}

/* Estilos da seção Busca */
.search {
  padding: 0% 20%;
}

.search__container {
  width: 100%;
  margin: 4% auto;
  padding: 2.5%;
  background-color: var(--neutral-light-white-bg-color);
  border-radius: 16px;
}

.search__title {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 32px;
  color: #000;
}

.search__form {
  display: flex;
  gap: 24px;
  align-items: center;
  /* flex-wrap: wrap; */
}

.search__input {
  flex: 1;
  width: 100%;
  padding: 15px 40px;
  border: 1px solid var(--neutral-dark-medium-grey-color);
  border-radius: 4px;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.05);
  background-color: var(--neutral-light-white-bg-color);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.0025em;
  outline: none;
}

.search__input:focus {
  border-color: var(--primary-container-on-color);
}

.search__button {  
  background-color: var(--primary-color);
  color: var(--neutral-light-white-color);
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: center;
  transition: background-color 0.3s;
  cursor: pointer;
  outline: none;
}

.search__button:hover {
  background-color: var(--primary-click-color);
}

/* Icone de Busca */
.search__icon {
  position: relative;
  flex: 1;
}

.search__icon::after {
  content: "";
  /* Posicionamento do ícone */
  position: absolute;
  right: 1.5%;
  top: 50%;
  transform: translateY(-50%);
  /* Dimensão do ícone */
  width: 1.25rem;
  height: 1.25rem;
  /* Definição da imagem SVG inline */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23999"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>');
  /* Propriedades adicionais da imagem */
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}

/* Estilos da seção Destinos */
.destinations {
 padding: 1.5% 20%; 
}

.destinations__container {
  width: 100%;
}

.destinations__title {
   font-family: var(--primary-font-family);
   font-weight: 400;
   font-size: 2rem;
   line-height: 1.25;
   margin-bottom: 16px;
}

/* Alternativa para o Grid com Flexbox */
/* .destinations__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 24px;
  justify-content: center;
} */

.destinations__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,  minmax(317px, 1fr));
  gap: 10px 24px;
}

.destination__card {
  background-color: var(--neutral-light-surface1-color);
  height: 480px;
  border-radius: 12px;
  border: 1px solid var(--neutral-dark-light-grey-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
}

.destination__card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.destination__img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  display: block;
}

.destination__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px;
  padding: 16px;
}

.destination__name {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--neutral-dark-black-color);
  line-height: 1.33;
}

.destination__price {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 2rem;
  color: var(--neutral-dark-grey-color);
  line-height: 1.25;
}

.destination__link {
  background-color: var(--primary-color);
  padding: 10px 30px;
  border-radius: 5px;
  font-size: var(--primary-font-family);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--neutral-light-white-color);
  text-decoration: none;
  transition: background-color 0.3s;
}

.destination__link:hover {
  background-color: var(--primary-click-color);
}

/* Estilo da seção de Depoimentos */
/* .testimonials {
  padding: 2% 20%;
} */

.testimonials__container {
  padding: 2% 20%;
}

.testimonials__title {
  margin: 40px 0 32px 0;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.25;
  color: black;
}

.testimonials__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.testimonial__card--item {
  display: flex;
  width: 32%;
  padding: 12px 24px 12px 16px;
  background-color: var(--neutral-light-surface1-color);  
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.testimonial__img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  margin-right: 16px;
}

.testimonial__text {
  color: var(--neutral-dark-grey-color);
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.testimonial__author {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--neutral-dark-black-color);
}

.homepage__bottom {
  width: 100%;
  min-height: 500px;
  background-image: url('../assets/banner2-homepage-fundo.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: var(--neutral-light-white-color);
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 2% 20%;
  background-color: var(--neutral-dark-black-color);
}

.footer__logo {
  padding-bottom: 16px;
}

.footer__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--neutral-light-white-bg-color);
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer__social__text {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--neutral-light-white-bg-color);
}

.footer__social__icon_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__social__icon img {
  /* Converte qualquer ícone para branco */
  filter: brightness(0) invert(1);
}

.footer__social__icon {
  cursor: pointer;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.footer__social__icon:hover {
  transform: scale(1.2); /* Aumenta ligeiramente o ícone */
}

.social__whatsapp:hover {
  filter: invert(72%) sepia(31%) saturate(1304%) hue-rotate(101deg) brightness(95%) contrast(98%);
}

.social__instagram:hover {
  filter: invert(37%) sepia(97%) saturate(1055%) hue-rotate(298deg) brightness(94%) contrast(98%);
}

.social__twiter:hover {
  filter: invert(48%) sepia(94%) saturate(1887%) hue-rotate(176deg) brightness(103%) contrast(91%);
}

@media (max-width: 1024px) {
  .header {
    padding: 1.5% 10%;
  }

  .hero {
    padding: 1.5% 10%;
  }

  .hero__text {
    font-size: 2rem;
  }

  .hero__image {
    width: 40%;
  }

  .search {
    padding: 0% 10%;
  }

  .destinations {
    padding: 1.5% 10%; 
  }

  .testimonials__container {
    padding: 1.5% 10%;
  }
}